body {
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    /* Create one main area where everything stacks */
    grid-template-columns: 1fr;
    grid-template-rows: 100vh; 
    justify-items: center;
    align-items: center;
    overflow: hidden;
    color: #ffe397;
    background-color: #812007;
    margin: 0;
}
header {
    /* Tell the header to sit in the same spot as the sparkles */
    grid-area: 1 / 1 / 2 / 2; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers the title and scrubby horizontally */
    text-align: center;
    z-index: 1;
    margin: 0 20%;
}
button {
    margin: 10px;
    margin-bottom: 10%;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffe397;
    background-color: #420d00;
    border: 2px solid #ffe397;
}

#sparkles-img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    z-index: -1;
}
#scrubby-img {
    width: 120px; 
    margin-top: 20px; 
}

@media (min-width: 600px) {
    #scrubby-img {
        width: 180px; 
    }
    header {
        margin: 0 15%;
    }
}